<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block titulo %}Panel{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body class="bg-light">

  <header class="bg-purple text-white py-2">
    <div class="container text-center">
      <h1 class="h4">ICATLAX • Sistema Institucional</h1>
    </div>
  </header>

  <main class="container py-4">
    {% block contenido %}{% endblock %}
  </main>

  <footer class="bg-dark text-white text-center py-2 mt-4">
    <small>© ICATLAX 2025</small>
  </footer>

</body>
</html>
